@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
font-family: 'Ubuntu', sans-serif;
}

.container{
	border: 1px solid lightgrey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}
@media(max-width: 778px){
	.container{
		width: 90%;
	}
}
.container .header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 3px lightgrey;
	width: 100%;
	border-radius: 4px;
	padding: 10px 15px;
}
.container h1{
	color: #214a40;
}
.time{
	display: flex;
	width: 100px;
	justify-content: space-around;
}
.time span{
	background: #adaca0;
	width: 40%;
	height: 20px;
	text-align: center;
	cursor: default;
	border-radius: 5px;
	color: white;
}

/* Question Answer Styling */
.questions{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}
.questions h3{
	margin: 4px;
	letter-spacing: 1px;
}
.questions option{
	border: 1px solid lightgrey;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	width: 70%;
	display: flex;
	justify-content: center;
	font-size: 19px;
	align-items: center;
}

button{
	padding: 5px 20px;
	cursor: pointer;
	outline: none;
	border: 1px solid lightgrey;
	background: #22677a;
	color: white;
	font-size: 18px;
}
.next_btn{
	float: right;	
	margin: 10px 15px 0px 0px;
}
/*Foter*/
footer{
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p{
	background: lightgray;
	width: 100%;
	margin-left: 90px;
	margin-right: 10px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

/*Result Container*/

.resultContainer{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.resultContainer .result p,button{
	margin-top: 20px;
}
